# EXPLORATORY DATA ANALYSIS along with FEATURE ENGINEERING on the DATASETS

### 1. DATA COLLECTION :

##### 1.1 IMPORTING NECESSARY LIBRARIES

In [71]:
import pandas as pd
import numpy as np 
import matplotlib as plt 
import seaborn as sns

In [72]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

##### 1.2 LOADING THE REQUIRED DATASETS :

In [73]:
df1=pd.read_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/notebook/data/EV_cars.csv")

In [74]:
df2=pd.read_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/notebook/data/EV_Population.csv")

In [75]:
df3=pd.read_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/notebook/data/EV_Population_2.csv")

In [76]:
df4=pd.read_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/notebook/data/ev_charging_patterns.csv")

In [77]:
df1

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4
...,...,...,...,...,...,...,...,...,...
355,46.3,Citroen e-Jumpy Combi XL 50 kWh,https://ev-database.org/car/1596/Citroen-e-Jum...,257,290.0,52730.0,180,130,12.1
356,46.3,Fiat E-Ulysse L2 50 kWh,https://ev-database.org/car/1721/Fiat-E-Ulysse...,250,290.0,55990.0,185,130,12.1
357,46.3,Opel Vivaro-e Combi L 50 kWh,https://ev-database.org/car/1601/Opel-Vivaro-e...,257,290.0,51825.0,180,130,12.1
358,68.0,Opel Zafira-e Life M 75 kWh,https://ev-database.org/car/1348/Opel-Zafira-e...,257,290.0,69250.0,265,130,13.3
359,46.3,Fiat E-Ulysse L3 50 kWh,https://ev-database.org/car/1723/Fiat-E-Ulysse...,257,290.0,56990.0,180,130,12.1

In [78]:
df2

,State,Model Year,Make,Electric Vehicle Type,Electric Range,Base MSRP,Legislative District,CAFV Eligibility Simple
0,WA,2020,TESLA,BEV,266,0,46.0,Eligible
1,WA,2024,BMW,PHEV,39,0,46.0,Eligible
2,WA,2024,BMW,PHEV,39,0,43.0,Eligible
3,WA,2018,TESLA,BEV,215,0,1.0,Eligible
4,WA,2012,CHEVROLET,PHEV,35,0,35.0,Eligible
...,...,...,...,...,...,...,...,...
92671,WA,2015,NISSAN,BEV,84,0,30.0,Eligible
92672,WA,2018,TESLA,BEV,215,0,1.0,Eligible
92673,WA,2019,TESLA,BEV,220,0,44.0,Eligible
92674,WA,2022,CHRYSLER,PHEV,32,0,45.0,Eligible
92675,WA,2018,TESLA,BEV,215,0,41.0,Eligible

In [79]:
df3

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE1L,King,Seattle,WA,98122.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,0,37.0,125701579,POINT (-122.30839 47.610365),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,7SAYGDEE9P,Snohomish,Bothell,WA,98021.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,1.0,244285107,POINT (-122.179458 47.802589),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJSA1E4XK,King,Seattle,WA,98109.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,36.0,156773144,POINT (-122.34848 47.632405),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,5YJSA1E27G,King,Issaquah,WA,98027.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,5.0,165103011,POINT (-122.03646 47.534065),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,5YJYGDEE5M,Kitsap,Suquamish,WA,98392.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,23.0,205138552,POINT (-122.55717 47.733415),PUGET SOUND ENERGY INC,5.303594e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177861,7SAYGDEE3N,Pierce,Bonney Lake,WA,98391.0,2022,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,31.0,195224452,POINT (-122.183805 47.18062),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
177862,KM8K23AG1P,Mason,Shelton,WA,98584.0,2023,HYUNDAI,KONA ELECTRIC,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,35.0,228454180,POINT (-123.105305 47.211085),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.304596e+10
177863,5YJYGDEE6M,Grant,Quincy,WA,98848.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,13.0,168797219,POINT (-119.8493873 47.2339933),PUD NO 2 OF GRANT COUNTY,5.302501e+10
177864,WVGKMPE27M,King,Black Diamond,WA,98010.0,2021,VOLKSWAGEN,ID.4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,5.0,182448801,POINT (-122.00451 47.312185),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
177865,5YJ3E1EA8M,Pierce,Tacoma,WA,98422.0,2021,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,27.0,211464683,POINT (-122.38578 47.28971),BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,5.305394e+10

In [80]:
df4

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1315,User_1316,Nissan Leaf,100.000000,Station_57,New York,2024-02-24 19:00:00,2024-02-24 20:30:00,42.011654,1.426444,5.895475,22.081164,Evening,Sunday,39.204102,83.915952,239.601075,1.919655,7.0,DC Fast Charger,Commuter
1316,User_1317,BMW i3,100.000000,Station_40,New York,2024-02-24 20:00:00,2024-02-24 20:44:00,68.185853,3.238212,18.388012,5.067806,Evening,Tuesday,31.456375,93.096461,164.376022,34.029775,4.0,Level 2,Casual Driver
1317,User_1318,Nissan Leaf,100.000000,Station_374,New York,2024-02-24 21:00:00,2024-02-24 23:03:00,18.895102,3.267122,45.482066,37.255002,Evening,Tuesday,71.903081,78.678879,226.519258,20.358761,5.0,DC Fast Charger,Commuter
1318,User_1319,Chevy Bolt,85.000000,Station_336,San Francisco,2024-02-24 22:00:00,2024-02-24 23:20:00,13.756252,2.754527,38.148183,39.046146,Afternoon,Sunday,76.187997,65.926573,291.494076,24.134598,5.0,Level 2,Commuter
1319,User_1320,Nissan Leaf,120.447195,Station_128,Los Angeles,2024-02-24 23:00:00,2024-02-24 23:56:00,63.652570,3.740970,33.704226,10.863674,Evening,Monday,59.338076,56.692439,14.449236,-6.966593,5.0,DC Fast Charger,Commuter

In [81]:
print("Column Names of the dataset respectively\n\n")

print("1st dataset\n") 
print(df1.columns)
print("2nd dataset\n") 
print(df2.columns)
print("3rd dataset\n") 
print(df3.columns)
print("4th dataset\n") 
print(df4.columns)

Column Names of the dataset respectively


1st dataset

Index(['Battery', 'Car_name', 'Car_name_link', 'Efficiency', 'Fast_charge',
       'Price.DE.', 'Range', 'Top_speed', 'acceleration..0.100.'],
      dtype='object')
2nd dataset

Index(['State', 'Model Year', 'Make', 'Electric Vehicle Type',
       'Electric Range', 'Base MSRP', 'Legislative District',
       'CAFV Eligibility Simple'],
      dtype='object')
3rd dataset

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')
4th dataset

Index(['User ID', 'Vehicle Model', 'Battery Capacity (kWh)',
       'Charging Station ID', 'Charging Station Location',
       'Charging Start Time', 'Charging End Time', 'Energy Consumed (kWh)',
       'Charging Duration (hours)', 'Charging Rate (kW)',
       'Charging Cost (USD)', 'Time of Day', 'Day of Week',
       'State of Charge (Start %)', 'State of Charge (End %)',
       'Distance Driven (since last charge) (km)', 'Temperature (°C)',
       'Vehicle Age (years)', 'Charger Type', 'User Type'],
      dtype='object')

In [82]:
common_columns = set(df2.columns) & set(df3.columns)
print("Common Columns:", common_columns)

extra_in_df2 = set(df2.columns) - set(df3.columns)
extra_in_df3 = set(df3.columns) - set(df2.columns)
print("Only in df2:", extra_in_df2)
print("Only in df3:", extra_in_df3)

Common Columns: {'Model Year', 'Electric Range', 'Base MSRP', 'Legislative District', 'State', 'Make', 'Electric Vehicle Type'}
Only in df2: {'CAFV Eligibility Simple'}
Only in df3: {'2020 Census Tract', 'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'County', 'Vehicle Location', 'Postal Code', 'VIN (1-10)', 'City', 'DOL Vehicle ID', 'Model', 'Electric Utility'}

##### As we can observe very clearly the Dataset no 2 "EV_Population.csv" is a subset (or in easy words, 'dataset 2 is essentially a lighter version of dataset 3.') of Dataset no. 3 "EV_Population_2.csv"

In [83]:
common_columns = set(df3.columns) & set(df4.columns)
print("Common Columns:", common_columns)

extra_in_df3 = set(df3.columns) - set(df4.columns)
extra_in_df4 = set(df4.columns) - set(df3.columns)
print("Only in df3:", extra_in_df3)
print("Only in df4:", extra_in_df4)

Common Columns: set()
Only in df3: {'2020 Census Tract', 'Model Year', 'Electric Range', 'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'County', 'Postal Code', 'Vehicle Location', 'VIN (1-10)', 'City', 'DOL Vehicle ID', 'Base MSRP', 'State', 'Legislative District', 'Model', 'Electric Utility', 'Make', 'Electric Vehicle Type'}
Only in df4: {'Charging Station ID', 'Charging Station Location', 'Temperature (°C)', 'Charging Cost (USD)', 'Vehicle Model', 'Charging Duration (hours)', 'Charging End Time', 'Charger Type', 'User Type', 'User ID', 'Distance Driven (since last charge) (km)', 'Battery Capacity (kWh)', 'Time of Day', 'Energy Consumed (kWh)', 'State of Charge (Start %)', 'State of Charge (End %)', 'Vehicle Age (years)', 'Charging Rate (kW)', 'Day of Week', 'Charging Start Time'}

As we can see there's no similarity b/w the dataset 3rd and dataset 4th

Let's perform EDA on datasets one by one

## EXPLORATORY DATA ANALYSIS ON DATASET 1ST

In [84]:
df1.head()

,Battery,Car_name,Car_name_link,Efficiency,Fast_charge,Price.DE.,Range,Top_speed,acceleration..0.100.
0,75.0,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670.0,59017.0,435,217,5.0
1,57.5,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700.0,46220.0,420,201,6.1
2,60.5,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370.0,44625.0,330,160,7.3
3,61.7,MG MG4 Electric 64 kWh,https://ev-database.org/car/1708/MG-MG4-Electr...,171,630.0,39990.0,360,160,7.9
4,75.0,Tesla Model 3 Long Range Dual Motor,https://ev-database.org/car/1992/Tesla-Model-3...,149,780.0,55220.0,505,201,4.4

In [85]:
df1.columns

Index(['Battery', 'Car_name', 'Car_name_link', 'Efficiency', 'Fast_charge',
       'Price.DE.', 'Range', 'Top_speed', 'acceleration..0.100.'],
      dtype='object')

In [86]:
df1.dtypes

Battery                 float64
Car_name                 object
Car_name_link            object
Efficiency                int64
Fast_charge             float64
Price.DE.               float64
Range                     int64
Top_speed                 int64
acceleration..0.100.    float64
dtype: object

Converting the column names into lowercase

In [87]:
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df1.columns

Index(['battery', 'car_name', 'car_name_link', 'efficiency', 'fast_charge',
       'price.de.', 'range', 'top_speed', 'acceleration..0.100.'],
      dtype='object')

Checking NaN values

In [88]:
df1.isnull().sum()

battery                  0
car_name                 0
car_name_link            0
efficiency               0
fast_charge              2
price.de.               51
range                    0
top_speed                0
acceleration..0.100.     0
dtype: int64

Converting int64 into Int64

In [89]:
df1['efficiency']=pd.to_numeric(df1['efficiency'],errors='coerce').astype('Int64')
df1['range']=pd.to_numeric(df1['range'],errors='coerce').astype('Int64')
df1['top_speed']=pd.to_numeric(df1['top_speed'],errors='coerce').astype('Int64')

Converting float64 into Int64

In [90]:
df1['battery'] = df1['battery'].round(0).astype('Int64')
df1['fast_charge'] = df1['fast_charge'].round(0).astype('Int64')
df1['price.de.'] = df1['price.de.'].round(0).astype('Int64')
df1['acceleration..0.100.'] = df1['acceleration..0.100.'].round(0).astype('Int64')

In [91]:
df1.dtypes

battery                  Int64
car_name                object
car_name_link           object
efficiency               Int64
fast_charge              Int64
price.de.                Int64
range                    Int64
top_speed                Int64
acceleration..0.100.     Int64
dtype: object

Price.DE.: The price of the electric vehicle in Germany.

As we can see the Price.DE. is the price of EVs in Germany , So we need to convert it into USD because our project is based on US datasets

Converting the German Price into USD

In [92]:
exchange_rate = 1.08 
df1['price_usd_estimated'] = df1['price.de.'] * exchange_rate

In [93]:
df1.head(3)

,battery,car_name,car_name_link,efficiency,fast_charge,price.de.,range,top_speed,acceleration..0.100.,price_usd_estimated
0,75,Tesla Model Y Long Range Dual Motor,https://ev-database.org/car/1619/Tesla-Model-Y...,172,670,59017,435,217,5,63738.36
1,58,Tesla Model 3,https://ev-database.org/car/1991/Tesla-Model-3,137,700,46220,420,201,6,49917.6
2,60,BYD ATTO 3,https://ev-database.org/car/1782/BYD-ATTO-3,183,370,44625,330,160,7,48195.0

Now , the new column is added which is the EVs price in USD after conversion

ONE HOT ENCODING applied on Categorical Columns

In [94]:
df1=pd.get_dummies(df1,columns=['car_name','car_name_link'] , drop_first=True)

SCALING OF THE NUMERIC COLUMNS

In [95]:
scaler = StandardScaler()
numerical_features = ['battery','efficiency','fast_charge','price.de.','range','top_speed','acceleration..0.100.','price_usd_estimated']

df1[numerical_features] = scaler.fit_transform(df1[numerical_features])

In [96]:
df1.head()

,battery,efficiency,fast_charge,price.de.,range,top_speed,acceleration..0.100.,price_usd_estimated,car_name_Abarth 500e Hatchback,car_name_Aiways U5,...,car_name_link_https://ev-database.org/car/2038/Ford-Mustang-Mach-E-GT,car_name_link_https://ev-database.org/car/2039/Citroen-e-C3,car_name_link_https://ev-database.org/car/2040/BMW-iX2-xDrive30,car_name_link_https://ev-database.org/car/2041/Smart-1-Pro,car_name_link_https://ev-database.org/car/2042/Nissan-Townstar-EV-Passenger,car_name_link_https://ev-database.org/car/2044/Hyundai-IONIQ-5-N,car_name_link_https://ev-database.org/car/2045/Mercedes-EQE-SUV-300,car_name_link_https://ev-database.org/car/2046/Mercedes-EQE-SUV-350plus,car_name_link_https://ev-database.org/car/2047/Mercedes-EQE-SUV-350-4MATIC,car_name_link_https://ev-database.org/car/2048/Mercedes-EQE-SUV-500-4MATIC
0,0.188720,-0.727285,0.494809,-0.239382,0.609385,0.997205,-0.773185,-0.239382,False,False,...,False,False,False,False,False,False,False,False,False,False
1,-0.644590,-1.825666,0.621641,-0.610823,0.469416,0.554993,-0.437018,-0.610823,False,False,...,False,False,False,False,False,False,False,False,False,False
2,-0.546553,-0.382080,-0.773509,-0.657118,-0.370400,-0.578178,-0.100850,-0.657118,False,False,...,False,False,False,False,False,False,False,False,False,False
3,-0.448517,-0.758668,0.325700,-0.791652,-0.090462,-0.578178,0.235317,-0.791652,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0.188720,-1.449078,0.959859,-0.349592,1.262575,0.554993,-1.109353,-0.349592,False,False,...,False,False,False,False,False,False,False,False,False,False

In [145]:
df1.to_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/data/processed/EV_specs.csv", index=False)

## EXPLORATORY DATA ANALYSIS ON DATASET 3RD

In [97]:
df3.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJYGDEE1L,King,Seattle,WA,98122.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291,0,37.0,125701579,POINT (-122.30839 47.610365),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
1,7SAYGDEE9P,Snohomish,Bothell,WA,98021.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,1.0,244285107,POINT (-122.179458 47.802589),PUGET SOUND ENERGY INC,5.306105e+10
2,5YJSA1E4XK,King,Seattle,WA,98109.0,2019,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0,36.0,156773144,POINT (-122.34848 47.632405),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,5YJSA1E27G,King,Issaquah,WA,98027.0,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,5.0,165103011,POINT (-122.03646 47.534065),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
4,5YJYGDEE5M,Kitsap,Suquamish,WA,98392.0,2021,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,23.0,205138552,POINT (-122.55717 47.733415),PUGET SOUND ENERGY INC,5.303594e+10

In [98]:
df3.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

Converting the column names into lowercase

In [99]:
df3.columns = df3.columns.str.lower().str.replace(' ', '_')
df3.columns

Index(['vin_(1-10)', 'county', 'city', 'state', 'postal_code', 'model_year',
       'make', 'model', 'electric_vehicle_type',
       'clean_alternative_fuel_vehicle_(cafv)_eligibility', 'electric_range',
       'base_msrp', 'legislative_district', 'dol_vehicle_id',
       'vehicle_location', 'electric_utility', '2020_census_tract'],
      dtype='object')

Dropping the unnecessary column

In [100]:
df3.drop('vin_(1-10)', axis =1 ,inplace=True)

In [101]:
df3.dtypes

county                                                object
city                                                  object
state                                                 object
postal_code                                          float64
model_year                                             int64
make                                                  object
model                                                 object
electric_vehicle_type                                 object
clean_alternative_fuel_vehicle_(cafv)_eligibility     object
electric_range                                         int64
base_msrp                                              int64
legislative_district                                 float64
dol_vehicle_id                                         int64
vehicle_location                                      object
electric_utility                                      object
2020_census_tract                                    float64
dtype: object

Changing few name of the columns for ease

In [102]:
df3.columns=df3.columns.str.replace('county','country')
df3.columns=df3.columns.str.replace('clean_alternative_fuel_vehicle_(cafv)_eligibility','cafv_eligibility')

Checking NaN values

In [103]:
df3.isnull().sum()

country                    5
city                       5
state                      0
postal_code                5
model_year                 0
make                       0
model                      0
electric_vehicle_type      0
cafv_eligibility           0
electric_range             0
base_msrp                  0
legislative_district     389
dol_vehicle_id             0
vehicle_location           9
electric_utility           5
2020_census_tract          5
dtype: int64

Converting the floats and ints into Int64

In [104]:
df3['postal_code']=pd.to_numeric(df3['postal_code'],errors='coerce').astype('Int64')
df3['model_year']=pd.to_numeric(df3['model_year'],errors='coerce').astype('Int64')
df3['electric_range']=pd.to_numeric(df3['electric_range'],errors='coerce').astype('Int64')
df3['base_msrp']=pd.to_numeric(df3['base_msrp'],errors='coerce').astype('Int64')
df3['legislative_district']=pd.to_numeric(df3['legislative_district'],errors='coerce').astype('Int64')
df3['dol_vehicle_id']=pd.to_numeric(df3['dol_vehicle_id'],errors='coerce').astype('Int64')
df3['2020_census_tract']=pd.to_numeric(df3['2020_census_tract'],errors='coerce').astype('Int64')

Filling the null values with their respective medians in numeic columns

In [105]:
df3['postal_code']= df3['postal_code'].fillna(df3['postal_code'].median())
df3['legislative_district']= df3['legislative_district'].fillna(df3['legislative_district'].median())
df3['2020_census_tract']= df3['2020_census_tract'].fillna(df3['2020_census_tract'].median())

Filling the null values with "Unknown" in categorical columns

In [106]:
df3.fillna('Unknown', inplace=True)

In [107]:
df3.isnull().sum()

country                  0
city                     0
state                    0
postal_code              0
model_year               0
make                     0
model                    0
electric_vehicle_type    0
cafv_eligibility         0
electric_range           0
base_msrp                0
legislative_district     0
dol_vehicle_id           0
vehicle_location         0
electric_utility         0
2020_census_tract        0
dtype: int64

Applying Label Encoder on Columns where data is ordinal

In [108]:
label_encoder = LabelEncoder()
df3['cafv_eligibility'] = label_encoder.fit_transform(df3['cafv_eligibility'])
df3['electric_utility'] = label_encoder.fit_transform(df3['electric_utility'])
df3['2020_census_tract'] = label_encoder.fit_transform(df3['2020_census_tract'])

In [109]:
LabelEncoder ()

LabelEncoder()

In [110]:
print(df3[['cafv_eligibility','electric_utility','2020_census_tract']])

        cafv_eligibility  electric_utility  2020_census_tract
0                      0                57                820
1                      1                73               1692
2                      0                57                799
3                      0                74               1153
4                      1                73               1259
...                  ...               ...                ...
177861                 1                74               1405
177862                 1                22               1318
177863                 1                72                637
177864                 1                74               1125
177865                 1                19               1537

[177866 rows x 3 columns]

Applying One-hot Encoding on categorical columns

In [111]:
df3=pd.get_dummies(df3,columns=['country','state','electric_vehicle_type'] , drop_first=True)

In [112]:
df3.shape

(177866, 255)

Applying frequency encoding on columns when there's no clear order but too many unique values

In [113]:
freq_map = df3['city'].value_counts() 
df3['make_freq_encoded'] = df3['city'].map(freq_map)

In [114]:
freq_map = df3['make'].value_counts()  
df3['make_freq_encoded'] = df3['make'].map(freq_map)

In [115]:
df3.head()

,city,postal_code,model_year,make,model,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,...,state_RI,state_SC,state_TN,state_TX,state_UT,state_VA,state_WA,state_WY,electric_vehicle_type_Plug-in Hybrid Electric Vehicle (PHEV),make_freq_encoded
0,Seattle,98122,2020,TESLA,MODEL Y,0,291,0,37,125701579,...,False,False,False,False,False,False,True,False,False,79659
1,Bothell,98021,2023,TESLA,MODEL Y,1,0,0,1,244285107,...,False,False,False,False,False,False,True,False,False,79659
2,Seattle,98109,2019,TESLA,MODEL S,0,270,0,36,156773144,...,False,False,False,False,False,False,True,False,False,79659
3,Issaquah,98027,2016,TESLA,MODEL S,0,210,0,5,165103011,...,False,False,False,False,False,False,True,False,False,79659
4,Suquamish,98392,2021,TESLA,MODEL Y,1,0,0,23,205138552,...,False,False,False,False,False,False,True,False,False,79659

Applying Hash encoding

In [116]:
import category_encoders as ce

hash_encoder = ce.HashingEncoder(cols=['model'], n_components=8)  
model_hashed = hash_encoder.fit_transform(df3[['model']])  # returns 8 hashed features

df3 = pd.concat([df3.drop(columns=['model']), model_hashed], axis=1)

Scaling the Numeic columns|

In [117]:
scaler = StandardScaler()
numerical_features = ['postal_code','model_year','electric_range','base_msrp','legislative_district','dol_vehicle_id']

df3[numerical_features] = scaler.fit_transform(df3[numerical_features])

In [118]:
df3.head()

,city,postal_code,model_year,make,cafv_eligibility,electric_range,base_msrp,legislative_district,dol_vehicle_id,vehicle_location,...,electric_vehicle_type_Plug-in Hybrid Electric Vehicle (PHEV),make_freq_encoded,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7
0,Seattle,-0.020657,-0.172448,TESLA,0,2.523975,-0.128384,0.528607,-1.246277,POINT (-122.30839 47.610365),...,False,79659,1,0,0,0,0,0,0,0
1,Bothell,-0.062009,0.831106,TESLA,1,-0.639721,-0.128384,-1.891247,0.317125,POINT (-122.179458 47.802589),...,False,79659,1,0,0,0,0,0,0,0
2,Seattle,-0.025979,-0.506966,TESLA,0,2.295667,-0.128384,0.461389,-0.836630,POINT (-122.34848 47.632405),...,False,79659,0,0,0,0,1,0,0,0
3,Issaquah,-0.059553,-1.510520,TESLA,0,1.643359,-0.128384,-1.622374,-0.726810,POINT (-122.03646 47.534065),...,False,79659,0,0,0,0,1,0,0,0
4,Suquamish,0.089890,0.162070,TESLA,1,-0.639721,-0.128384,-0.412447,-0.198982,POINT (-122.55717 47.733415),...,False,79659,1,0,0,0,0,0,0,0

## EXPLORATORY DATA ANALYSIS ON DATASET 4th

In [119]:
df4.head()

,User ID,Vehicle Model,Battery Capacity (kWh),Charging Station ID,Charging Station Location,Charging Start Time,Charging End Time,Energy Consumed (kWh),Charging Duration (hours),Charging Rate (kW),Charging Cost (USD),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type
0,User_1,BMW i3,108.463007,Station_391,Houston,2024-01-01 00:00:00,2024-01-01 00:39:00,60.712346,0.591363,36.389181,13.087717,Evening,Tuesday,29.371576,86.119962,293.602111,27.947953,2.0,DC Fast Charger,Commuter
1,User_2,Hyundai Kona,100.000000,Station_428,San Francisco,2024-01-01 01:00:00,2024-01-01 03:01:00,12.339275,3.133652,30.677735,21.128448,Morning,Monday,10.115778,84.664344,112.112804,14.311026,3.0,Level 1,Casual Driver
2,User_3,Chevy Bolt,75.000000,Station_181,San Francisco,2024-01-01 02:00:00,2024-01-01 04:48:00,19.128876,2.452653,27.513593,35.667270,Morning,Thursday,6.854604,69.917615,71.799253,21.002002,2.0,Level 2,Commuter
3,User_4,Hyundai Kona,50.000000,Station_327,Houston,2024-01-01 03:00:00,2024-01-01 06:42:00,79.457824,1.266431,32.882870,13.036239,Evening,Saturday,83.120003,99.624328,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler
4,User_5,Hyundai Kona,50.000000,Station_108,Los Angeles,2024-01-01 04:00:00,2024-01-01 05:46:00,19.629104,2.019765,10.215712,10.161471,Morning,Saturday,54.258950,63.743786,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler

In [120]:
df4.dtypes

User ID                                      object
Vehicle Model                                object
Battery Capacity (kWh)                      float64
Charging Station ID                          object
Charging Station Location                    object
Charging Start Time                          object
Charging End Time                            object
Energy Consumed (kWh)                       float64
Charging Duration (hours)                   float64
Charging Rate (kW)                          float64
Charging Cost (USD)                         float64
Time of Day                                  object
Day of Week                                  object
State of Charge (Start %)                   float64
State of Charge (End %)                     float64
Distance Driven (since last charge) (km)    float64
Temperature (°C)                            float64
Vehicle Age (years)                         float64
Charger Type                                 object
User Type                                    object
dtype: object

In [121]:
df4.columns = df4.columns.str.lower().str.replace(' ', '_')
df4.columns

Index(['user_id', 'vehicle_model', 'battery_capacity_(kwh)',
       'charging_station_id', 'charging_station_location',
       'charging_start_time', 'charging_end_time', 'energy_consumed_(kwh)',
       'charging_duration_(hours)', 'charging_rate_(kw)',
       'charging_cost_(usd)', 'time_of_day', 'day_of_week',
       'state_of_charge_(start_%)', 'state_of_charge_(end_%)',
       'distance_driven_(since_last_charge)_(km)', 'temperature_(°c)',
       'vehicle_age_(years)', 'charger_type', 'user_type'],
      dtype='object')

Checking NaN values

In [122]:
df4.isnull().sum()

user_id                                      0
vehicle_model                                0
battery_capacity_(kwh)                       0
charging_station_id                          0
charging_station_location                    0
charging_start_time                          0
charging_end_time                            0
energy_consumed_(kwh)                       66
charging_duration_(hours)                    0
charging_rate_(kw)                          66
charging_cost_(usd)                          0
time_of_day                                  0
day_of_week                                  0
state_of_charge_(start_%)                    0
state_of_charge_(end_%)                      0
distance_driven_(since_last_charge)_(km)    66
temperature_(°c)                             0
vehicle_age_(years)                          0
charger_type                                 0
user_type                                    0
dtype: int64

Converting the dtype from float64 to Int64

In [123]:
df4['battery_capacity_(kwh)']=df4['battery_capacity_(kwh)'].round(0).astype('Int64')

In [124]:
df4['energy_consumed_(kwh)']=df4['energy_consumed_(kwh)'].round(0).astype('Int64')
df4['charging_duration_(hours)']=df4['charging_duration_(hours)'].round(0).astype('Int64')
df4['charging_rate_(kw)']=df4['charging_rate_(kw)'].round(0).astype('Int64')
df4['charging_cost_(usd)']=df4['charging_cost_(usd)'].round(0).astype('Int64')
df4['state_of_charge_(start_%)']=df4['state_of_charge_(start_%)'].round(0).astype('Int64')
df4['state_of_charge_(end_%)']=df4['state_of_charge_(end_%)'].round(0).astype('Int64')
df4['distance_driven_(since_last_charge)_(km)']=df4['distance_driven_(since_last_charge)_(km)'].round(0).astype('Int64')
df4['temperature_(°c)']=df4['temperature_(°c)'].round(0).astype('Int64')
df4['vehicle_age_(years)']=df4['vehicle_age_(years)'].round(0).astype('Int64')

Removing extra letters from the rows' data which can easily counted as an integer

In [125]:
df4['user_id'] = df4['user_id'].str.replace(r'[^\d]', '', regex=True)
df4['charging_station_id'] = df4['charging_station_id'].str.replace(r'[^\d]', '', regex=True)
df4['charging_start_time'] = df4['charging_start_time'].str.replace(r'[^\d]', '', regex=True)
df4['charging_end_time'] = df4['charging_end_time'].str.replace(r'[^\d]', '', regex=True)

Converting the datatype into Int64

In [126]:
df4['user_id'] = pd.to_numeric(df4['user_id'], errors='coerce').astype('Int64')
df4['charging_station_id'] = pd.to_numeric(df4['charging_station_id'], errors='coerce').astype('Int64')
df4['charging_start_time'] = pd.to_numeric(df4['charging_start_time'], errors='coerce').astype('Int64')
df4['charging_end_time'] = pd.to_numeric(df4['charging_end_time'], errors='coerce').astype('Int64')

In [127]:
df4.dtypes

user_id                                      Int64
vehicle_model                               object
battery_capacity_(kwh)                       Int64
charging_station_id                          Int64
charging_station_location                   object
charging_start_time                          Int64
charging_end_time                            Int64
energy_consumed_(kwh)                        Int64
charging_duration_(hours)                    Int64
charging_rate_(kw)                           Int64
charging_cost_(usd)                          Int64
time_of_day                                 object
day_of_week                                 object
state_of_charge_(start_%)                    Int64
state_of_charge_(end_%)                      Int64
distance_driven_(since_last_charge)_(km)     Int64
temperature_(°c)                             Int64
vehicle_age_(years)                          Int64
charger_type                                object
user_type                                   object
dtype: object

Filling NaN values whose dtype is integer with their respective median

In [128]:
df4['energy_consumed_(kwh)']= df4['energy_consumed_(kwh)'].fillna(df4['energy_consumed_(kwh)'].median())
df4['charging_rate_(kw)']= df4['charging_rate_(kw)'].fillna(df4['charging_rate_(kw)'].median())
df4['distance_driven_(since_last_charge)_(km)']= df4['distance_driven_(since_last_charge)_(km)'].fillna(df4['distance_driven_(since_last_charge)_(km)'].median())

In [129]:
df4.isnull().sum()

user_id                                     0
vehicle_model                               0
battery_capacity_(kwh)                      0
charging_station_id                         0
charging_station_location                   0
charging_start_time                         0
charging_end_time                           0
energy_consumed_(kwh)                       0
charging_duration_(hours)                   0
charging_rate_(kw)                          0
charging_cost_(usd)                         0
time_of_day                                 0
day_of_week                                 0
state_of_charge_(start_%)                   0
state_of_charge_(end_%)                     0
distance_driven_(since_last_charge)_(km)    0
temperature_(°c)                            0
vehicle_age_(years)                         0
charger_type                                0
user_type                                   0
dtype: int64

Counting the unique values

In [130]:
df4['vehicle_model'].unique()

array(['BMW i3', 'Hyundai Kona', 'Chevy Bolt', 'Nissan Leaf',
       'Tesla Model 3'], dtype=object)

In [131]:
df4['charging_station_location'].unique()

array(['Houston', 'San Francisco', 'Los Angeles', 'Chicago', 'New York'],
      dtype=object)

In [132]:
df4['time_of_day'].unique()

array(['Evening', 'Morning', 'Afternoon', 'Night'], dtype=object)

In [133]:
df4['day_of_week'].unique()

array(['Tuesday', 'Monday', 'Thursday', 'Saturday', 'Friday', 'Wednesday',
       'Sunday'], dtype=object)

In [134]:
df4['charger_type'].unique()

array(['DC Fast Charger', 'Level 1', 'Level 2'], dtype=object)

In [135]:
df4['user_type'].unique()

array(['Commuter', 'Casual Driver', 'Long-Distance Traveler'],
      dtype=object)

Applying Label Encoder on object type columns (bcoz they r having ordinal categorical data values)

In [136]:
label_encoder = LabelEncoder()
df4['vehicle_model'] = label_encoder.fit_transform(df4['vehicle_model'])
df4['charging_station_location'] = label_encoder.fit_transform(df4['charging_station_location'])
df4['time_of_day'] = label_encoder.fit_transform(df4['time_of_day'])
df4['day_of_week'] = label_encoder.fit_transform(df4['day_of_week'])
df4['charger_type'] = label_encoder.fit_transform(df4['charger_type'])
df4['user_type'] = label_encoder.fit_transform(df4['user_type'])

In [137]:
LabelEncoder()

LabelEncoder()

In [138]:
print(df4[['vehicle_model','charging_station_location','time_of_day','day_of_week','charger_type','user_type']])

      vehicle_model  charging_station_location  time_of_day  day_of_week  \
0                 0                          1            1            5
1                 2                          4            2            1
2                 1                          4            2            4
3                 2                          1            1            2
4                 2                          2            2            2
...             ...                        ...          ...          ...
1315              3                          3            1            3
1316              0                          3            1            5
1317              3                          3            1            5
1318              1                          4            0            3
1319              3                          2            1            1

      charger_type  user_type
0                0          1
1                1          0
2                2          1
3                1          2
4                1          2
...            ...        ...
1315             0          1
1316             2          0
1317             0          1
1318             2          1
1319             0          1

[1320 rows x 6 columns]

Scaling the numeric type data

In [139]:
scaler = StandardScaler()
numerical_features = ['user_id','battery_capacity_(kwh)','charging_station_id','charging_start_time', 'charging_end_time', 
                      'energy_consumed_(kwh)','charging_duration_(hours)', 'charging_rate_(kw)','charging_cost_(usd)',
                      'state_of_charge_(start_%)', 'state_of_charge_(end_%)','distance_driven_(since_last_charge)_(km)', 
                      'temperature_(°c)','vehicle_age_(years)']

df4[numerical_features] = scaler.fit_transform(df4[numerical_features])

In [140]:
df4.head()

,user_id,vehicle_model,battery_capacity_(kwh),charging_station_id,charging_station_location,charging_start_time,charging_end_time,energy_consumed_(kwh),charging_duration_(hours),charging_rate_(kw),charging_cost_(usd),time_of_day,day_of_week,state_of_charge_(start_%),state_of_charge_(end_%),distance_driven_(since_last_charge)_(km),temperature_(°c),vehicle_age_(years),charger_type,user_type
0,-1.730739,0,1.623166,1.030207,1,-1.178850,-1.181028,0.839652,-1.192647,0.735299,-0.888951,1,5,-0.836072,0.636025,1.676333,0.858731,-0.699142,0,1
1,-1.728115,2,1.235132,1.287279,4,-1.178644,-1.180489,-1.404045,0.658375,0.369203,-0.144870,2,1,-1.625199,0.577471,-0.495484,-0.085704,-0.266683,1,0
2,-1.725491,1,0.022525,-0.428847,4,-1.178438,-1.180186,-1.083517,-0.267136,0.149545,1.250281,2,4,-1.749798,-0.300845,-0.972807,0.386513,-0.699142,2,1
3,-1.722866,2,-1.190081,0.585543,1,-1.178232,-1.179787,1.663867,-1.192647,0.515641,-0.888951,1,2,1.406710,1.455786,0.554625,1.533328,-1.131602,1,2
4,-1.720242,2,-1.190081,-0.936043,2,-1.178026,-1.179984,-1.037727,-0.267136,-1.168403,-1.167981,2,2,0.202253,-0.652172,0.602358,-1.569817,-1.131602,1,2

In [143]:
import os
print("Current working directory:", os.getcwd())

Current working directory: /workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/notebook

In [144]:
df4.to_csv("/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/data/processed/cleaned_charging_patterns.csv", index=False)