In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1=pd.read_csv('/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/data/processed/cleaned_charging_patterns.csv')

In [4]:
df2=pd.read_csv('/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/data/processed/EV_specs.csv')

In [5]:
df3=pd.read_csv('/workspaces/Spatio-Temporal-EV-Adoption-Forecasting-Project/data/processed/ev_spatial.csv')

# Dataset 1st

In [7]:
df1.head()

,user_id,vehicle_model,battery_capacity_(kwh),charging_station_id,charging_station_location,charging_start_time,charging_end_time,energy_consumed_(kwh),charging_duration_(hours),charging_rate_(kw),charging_cost_(usd),time_of_day,day_of_week,state_of_charge_(start_%),state_of_charge_(end_%),distance_driven_(since_last_charge)_(km),temperature_(°c),vehicle_age_(years),charger_type,user_type
0,-1.730739,0,1.623166,1.030207,1,-1.178850,-1.181028,0.839652,-1.192647,0.735299,-0.888951,1,5,-0.836072,0.636025,1.676333,0.858731,-0.699142,0,1
1,-1.728115,2,1.235132,1.287279,4,-1.178644,-1.180489,-1.404045,0.658375,0.369203,-0.144870,2,1,-1.625199,0.577471,-0.495484,-0.085704,-0.266683,1,0
2,-1.725491,1,0.022525,-0.428847,4,-1.178438,-1.180186,-1.083517,-0.267136,0.149545,1.250281,2,4,-1.749798,-0.300845,-0.972807,0.386513,-0.699142,2,1
3,-1.722866,2,-1.190081,0.585543,1,-1.178232,-1.179787,1.663867,-1.192647,0.515641,-0.888951,1,2,1.406710,1.455786,0.554625,1.533328,-1.131602,1,2
4,-1.720242,2,-1.190081,-0.936043,2,-1.178026,-1.179984,-1.037727,-0.267136,-1.168403,-1.167981,2,2,0.202253,-0.652172,0.602358,-1.569817,-1.131602,1,2

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320 entries, 0 to 1319
Data columns (total 20 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   user_id                                   1320 non-null   float64
 1   vehicle_model                             1320 non-null   int64
 2   battery_capacity_(kwh)                    1320 non-null   float64
 3   charging_station_id                       1320 non-null   float64
 4   charging_station_location                 1320 non-null   int64
 5   charging_start_time                       1320 non-null   float64
 6   charging_end_time                         1320 non-null   float64
 7   energy_consumed_(kwh)                     1320 non-null   float64
 8   charging_duration_(hours)                 1320 non-null   float64
 9   charging_rate_(kw)                        1320 non-null   float64
 10  charging_cost_(usd)                       1320 non-null   float64
 11  time_of_day                               1320 non-null   int64
 12  day_of_week                               1320 non-null   int64
 13  state_of_charge_(start_%)                 1320 non-null   float64
 14  state_of_charge_(end_%)                   1320 non-null   float64
 15  distance_driven_(since_last_charge)_(km)  1320 non-null   float64
 16  temperature_(°c)                          1320 non-null   float64
 17  vehicle_age_(years)                       1320 non-null   float64
 18  charger_type                              1320 non-null   int64
 19  user_type                                 1320 non-null   int64
dtypes: float64(14), int64(6)
memory usage: 206.4 KB

In [10]:
df1.describe()

,user_id,vehicle_model,battery_capacity_(kwh),charging_station_id,charging_station_location,charging_start_time,charging_end_time,energy_consumed_(kwh),charging_duration_(hours),charging_rate_(kw),charging_cost_(usd),time_of_day,day_of_week,state_of_charge_(start_%),state_of_charge_(end_%),distance_driven_(since_last_charge)_(km),temperature_(°c),vehicle_age_(years),charger_type,user_type
count,1320.000000,1320.000000,1.320000e+03,1.320000e+03,1320.000000,1.320000e+03,1.320000e+03,1.320000e+03,1.320000e+03,1.320000e+03,1.320000e+03,1320.000000,1320.000000,1.320000e+03,1.320000e+03,1.320000e+03,1.320000e+03,1.320000e+03,1320.000000,1320.000000
mean,0.000000,2.036364,1.641784e-16,1.614870e-17,2.028030,-2.194664e-11,2.437894e-12,-5.382900e-17,6.997769e-17,3.768030e-17,-8.175279e-17,1.492424,3.004545,-8.612639e-17,-1.473569e-16,-1.022751e-16,8.141636e-17,3.633457e-17,1.000758,1.022727
std,1.000379,1.421767,1.000379e+00,1.000379e+00,1.387686,1.000379e+00,1.000379e+00,1.000379e+00,1.000379e+00,1.000379e+00,1.000379e+00,1.092369,2.016605,1.000379e+00,1.000379e+00,1.000379e+00,1.000379e+00,1.000379e+00,0.807940,0.799601
min,-1.730739,0.000000,-3.518286e+00,-1.679466e+00,0.000000,-1.178850e+00,-1.181028e+00,-1.953522e+00,-2.118158e+00,-1.827376e+00,-2.098083e+00,0.000000,0.000000,-1.957463e+00,-3.931218e+00,-1.820054e+00,-1.772196e+00,-1.564061e+00,0.000000,0.000000
25%,-0.865370,1.000000,-6.080303e-01,-8.665637e-01,1.000000,-9.073854e-01,-9.094054e-01,-8.087784e-01,-1.192647e+00,-8.755254e-01,-8.889512e-01,1.000000,1.000000,-8.776050e-01,-7.692805e-01,-8.534762e-01,-8.277608e-01,-6.991423e-01,0.000000,0.000000
50%,0.000000,2.000000,2.252508e-02,-3.976608e-02,2.000000,-6.202648e-01,-6.221360e-01,1.543669e-02,-2.671361e-01,3.106274e-03,-5.186018e-02,1.000000,3.000000,-4.694488e-02,5.048098e-02,-1.816176e-02,-1.824477e-02,1.657760e-01,1.000000,1.000000
75%,0.865370,3.000000,5.075677e-01,8.634582e-01,3.000000,1.088296e+00,1.085904e+00,8.396518e-01,6.583747e-01,8.085187e-01,8.782409e-01,2.000000,5.000000,8.252482e-01,7.531337e-01,8.171527e-01,8.587309e-01,1.030694e+00,2.000000,2.000000
max,1.730739,4.000000,5.746028e+00,1.780578e+00,4.000000,1.359760e+00,1.356974e+00,5.006517e+00,5.285929e+00,5.201677e+00,4.319615e+00,3.000000,6.000000,4.272488e+00,6.023029e+00,2.917372e+00,3.894416e+00,3.625449e+00,2.000000,2.000000

In [11]:
df1.isnull().sum()

user_id                                     0
vehicle_model                               0
battery_capacity_(kwh)                      0
charging_station_id                         0
charging_station_location                   0
charging_start_time                         0
charging_end_time                           0
energy_consumed_(kwh)                       0
charging_duration_(hours)                   0
charging_rate_(kw)                          0
charging_cost_(usd)                         0
time_of_day                                 0
day_of_week                                 0
state_of_charge_(start_%)                   0
state_of_charge_(end_%)                     0
distance_driven_(since_last_charge)_(km)    0
temperature_(°c)                            0
vehicle_age_(years)                         0
charger_type                                0
user_type                                   0
dtype: int64